target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.git
.gitignore
.gitattributes
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace

.DS_Store
.env
.env.local
*.log
logs/

node_modules/
package-lock.json
